<%#= raise "#{current_user.id}" %>

<h3>
  <%= params %>
</h3>
<%= simple_form_for([current_user, @cart, @cartship]) do |f| %>
 <h3>
      <% if @cartship.product.present? %>
        <%= @cartship.product.title  %>
        <%= f.hidden_field :product, value: @cartship.product %>
      <% else %>
        <%= Product.find(params[:product_id]).title %>
        <%= f.hidden_field :product_id, value: params[:product_id] %>
      <% end %>
    </h3>


    <%= f.hidden_field :cart_id, value: @cart.id %>

    <%#= f.input :product_id, :as => :hidden, :input_html => { :value => product.id }%>

    
    <%#= f.input :quantity, autofocus: true, label: false, :as => :hidden, :input_html => { :type => "number", :value => @quantity } %>


    <%= f.input :quantity, :as => :hidden, :input_html => { :value => @quantity}%>

    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>

    <%= f.button :submit %>

<% end %>


<%= console %>