
<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @cartship.cart %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cartship.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cartship.quantity %>
</p>

<%= link_to 'Edit', edit_cartship_path(@cartship) %> |
<%= link_to 'Back', cartships_path %>
