<%#= form_with(model: cart, local: true) do |form| %>
<%= simple_form_for([@current_user, @cart]) do |form| %>


    <%= form.input :status %>
    <%= form.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  

  
    <%= form.submit %>
<% end %>
