<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>
          <%#= link_to cart.status, user_cart_path(current_user, cart) %>
          <%= link_to cart.status, user_cart_path(current_user, cart) %>
        </td>
        <td><%= link_to 'Sil', user_cart_path(current_user, cart), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Cart', new_cart_path %>
