<p id="notice"><%= notice %></p>



<table>
  <thead>
    <h2>Sepet</h2>
    <tr>
      <th>ürün</th>
      <th>adet</th>
      <th>birim fiyatı</th>
      <th>toplam fiyatı</th>
      <th><%#= button_to 'Sepeti Sil', @cart, method: :delete, data: { confirm: 'Sepeti Silmekten Emin Misiniz?' }, class: 'clear button alert' %></th>
      <th>
        <%#= button_to 'Sepeti Sil', user_cart_path(current_user, cart) method: :delete, data: { confirm: 'Sepeti Silmekten Emin Misiniz?' }, class: 'clear button alert' %>
          
        </th>
        <th>
          <th><%#= button_to 'Sepeti Sil', user_cart_url, method: :delete, data: { confirm: 'Sepeti Silmekten Emin Misiniz?' }, class: 'clear button alert' %></th>
      <th>
        </th>
      <%= button_to 'satışı tamamla', pay_user_cart_path(current_user) %>
      <th colspan="4"></th>

    </tr>
  </thead>

  <tbody>
    <% @cart.cartships.each do |cartship| %>
      <tr>
        <td>
          <%= cartship.product.title %>
        </td>
        <td>
          <%= cartship.quantity %>
        </td>
        <td>
          <%= cartship.product.price %>
        </td>
        <td>
          <%= cartship.product.price * cartship.quantity %>          
        </td>
        <td>
          <%= button_to 'sepetten çıkar', user_cart_cartship_path(current_user, @cart, cartship), method: :delete, data: { confirm: 'Ürün Sepetten Çıkarılıyor' }, class: 'clear button alert' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h6 class="subheader">
  <%=  " Toplam #{@cart.total_price} ₺"   %>
</h6>

