<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, label: "Kategori Adı" %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Ekle", class: 'button success' %>


  </div>
<% end %>
