<p id="notice"><%= notice %></p>

<h1>Kategoriler</h1>

<table>
  <thead>
    <tr>
      <th>Kategori Adı</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Güncelle', edit_category_path(category), class: 'clear button' %></td>
        <td><%= link_to 'Sil', category, method: :delete, data: { confirm: '1 Kategori Silinecek.' } , class: 'clear button alert'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Kategori Ekle', new_category_path, class: 'button success' %>
