<%#= simple_form_for(@product) do |f| %>
<%= simple_form_for(@product, url: user_products_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    
    <%= f.input :title, label: "Ürün Adı" %>
    <%= f.input :price, label: "Birim Fiyatı" %>
    <%= f.association :category, label: "Kategori" %>
    <%= f.association :supplier, label: "Tedarikçi"  %>
    <%= f.input :quantity, label: "Adet" %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  </div>

  <div class="form-actions">
  

  
    <%= f.button :submit, "Ekle", class: 'button success' %>
  </div>
<% end %>

