<p id="notice"><%= notice %></p>

<h1>Ürün Listesi</h1>

<table>
  <thead>
    <tr>
      <th>Ürün Adı</th>
      <th>Birim Fiyatı</th>
      <th>Kategori</th>
      <th>Tedarikçi</th>
      <th>Stok Sayısı</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product.title, user_product_path(current_user, product) %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.category.title %>
        </td>
        <td>
          <%= product.supplier.name %>
        </td>
        <td>
          <%= product.quantity %>
        </td>
        <!-- <td> -->
          
          <%#= link_to 'Add to Cart', add_to_cart_product_path(product)  %>
          
        <!-- </td> -->

        <td><%= link_to 'Güncelle', edit_user_product_path(current_user, product), class: 'clear button' %></td>
        <td><%= link_to 'Ürünü Sil', user_product_path(current_user, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'clear button alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Ürün Ekle', new_user_product_path(current_user), class: 'button success' %>

