<%= simple_form_for(@supplier, url: user_suppliers_path) do |f| %>
<%#= simple_form_for(@supplier) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Firma Adı"%>
    <%= f.input :phone, label: "Telefon" %>
    <%= f.input :address, label: "Adres" %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Ekle", class: 'button success' %>
  </div>
<% end %>
