<p id="notice"><%= notice %></p>

<h1>Tedarikçiler Listesi</h1>

<table>
  <thead>
    <tr>
      <th>Firma Adı</th>
      <th>Telefon</th>
      <th>Adres</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.address %></td>
        <td><%= link_to 'Güncelle', edit_user_supplier_path(current_user, supplier), class: 'clear button' %></td>
        <td><%= link_to 'Sil', user_supplier_path(current_user, supplier), method: :delete, data: { confirm: '1 Tedarikçi Silinecek.' }, class: 'clear button alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Tedarikçi', new_user_supplier_path(current_user), class: 'button success'%>
