<div class="grid-y medium-grid-frame">
  <div class="cell shrink header medium-cell-block-container">
    
    <div class="grid-x grid-padding-x">
      
      
    </div>
  </div>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-7 medium-cell-block-y">
        <h2>Hızlı Satış</h2>
        <table>
          <thead>
            <tr>
              <th>Ürün</th>
              <th>Fiyat</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
           <tbody>
            <% @products.each do |product| %>
              <tr>
                <td>
                  <%#= link_to product.title, '#', class: 'clear button ' %>

                  <% if Cart.any? %>
                    <%# raise 'cart buldum' %>   
                    <%# if Cartship.any? && Cartship.find_by(product_id: product) %>
                        <%#= link_to 'add to cartship: update item', edit_user_cart_cartship_path(current_user, Cart.first, Cartship.all.find_by(product_id: product)) %>  
                    <%# else %>
                      <%= link_to product.title, new_user_cart_cartship_path(current_user, Cart.first, product_id: product) %>
                    <%# end %>

                  <% else %>
                    <%= link_to product.title, user_cart_path(current_user, product_id: product) %>

                    <%#= link_to "#{product.title} yeni ",new_user_cart_path(current_user, Cart.first, product_id: product) %>
                    <%# raise 'cart yok' %>   
                  <% end %>

                </td>
                <td>
                  <%= product.price %>
                </td>
                
                <th colspan="2"></th>
              </tr>
            <% end %>
          </tbody>
          </tbody>
        </table>

      </div>
      <div class="cell medium-5 medium-cell-block-y">
        <h2>Sepet</h2>
        <table>
          <thead>
            <tr>
                <th>ürün</th>
                <th>adet</th>
                <th>birim fiyatı</th>
                <th>toplam fiyatı</th>
                <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @cartships.each do |cartship| %>
              <tr>
                <td><%= cartship.product.title %></td>
                <td><%= cartship.quantity %></td>
                <td><%= cartship.product.price %></td>
                <td>
                  <%= cartship.product.price * cartship.quantity %>          
                </td>        
                <td><%= link_to 'Adet Güncelle', edit_user_cart_cartship_path(current_user, @cart, cartship) %></td>
                <td><%= link_to 'sepetten çıkar', user_cart_cartship_path(current_user,@cart, cartship), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="cell shrink footer">
    <h3>Here's my footer</h3>
  </div>
</div>
